*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    padding-left: 8%;
    padding-right: 8%;
    padding: 2%;
    background-color:#003b95 !important;
    height: 80vh;
    align-items: flex-start;
    font-weight: 500;
    position: relative;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    text-shadow: 1px 1px 5px white;
    color: white;
}
.navbar li a{
  color:white;
}
.navbar li a:hover{
    color:white;
}
.nav-item a button{
    background-color: white;
    color:blue;
    border: none;
    padding: 7px;
    border-radius: 8px;
}
.nav-item a button:hover{
    background-color: #145ac2;
    color: white;
    transition: all 0.5s;
}
.Lbtn{
    position: absolute;
    top:15%;
    left: 9%;
}
.Lbtn button{
    background-color: #003b95;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
.Lbtn button:hover{
    background-color: blue;
}
.Lbtn #BTN button{
    background-color: #003b95;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
    border: 1px solid white;
}
.PARANAV{
    position: absolute;
    top:40%;
    left: 9%;
}
.PARANAV h1{
    color: white;
    font-weight: 700;
    font-size: 60px;
}
.PARANAV p{
    color: white;
    font-size: 30px;
}
.INPUTS{
    position: absolute;
    top:76%;
    left: 14%;
    width: 80%;
}
.INPUTS input{
    padding: 15px;
    border: 3px solid #febb02;
    border-radius: 5px;
    width: 30%;
    box-shadow: 1px 1px 5px white;
}
.INPUTS input:focus{
    outline: none;
}
.INPUTS input:focus::placeholder{
    padding-left: 3%;
    color: blue;
    transition: all 0.5s;
}
#check{
    width: 2%;
}
.INPUTS select{
    padding: 18px;
    border: 3px solid #febb02;
    border-radius: 5px;
    width: 10%;
    box-shadow: 1px 1px 5px white;
}   
.INPUTS button{
    padding: 15px;
    border: none;
    width: 10%;
    box-shadow: 1px 1px 5px white;
    background-color: #003b95;
    border: 3px solid #febb02;
    border-radius: 5px;
    color: white;
}
.Text{
    margin-top: 6%;
    margin: 10%;
}
.bannerimage{
    margin-top: -8%;
    margin-left: 10%;
    position: relative;
}
.bannerimage img{
    border-radius: 10px;
    width: 90%;
}
.imgt{
    position: absolute;
    top: 123%;
    left: 12%;
    color: white;
}
.imgt button{
    background-color: rgb(0, 0, 255);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.imgt button:hover{
    background-color: rgb(47, 47, 255);
}
.text2P{
    margin: 10%;
    margin-top: -10%;
}
#TB{
    border: none;
    border: 1px solid blue;
    background-color: #c3dbff;
    border-radius: 20px;
    padding: 10px;
    color: blue;
}
.text2 button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid blue;
}
.cardParent{
   display: flex;
   margin: 6%;
   margin-top: -10%;
}
.card{
    width: 20%;
    margin: 4%;
    text-align: center;
    border-radius: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h3{
    padding-top: 2%;
}
.subscribe{
    text-align: center;
    background-color:#00224f;
    color: white;
    width: 100%;
    padding: 20px;
}
.subscribe input{
   padding: 10px;
   border-radius: 10px;
   width: 50%;
   border: none;
}
.subscribe input:focus{
    outline:none;
}
.subscribe input:focus::placeholder{
      color: #003b95;
      padding-left: 3%;
      transition: all 0.5s;
}
.subscribe button{
   background-color: #145ac2;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #003b95;
    color: white;
    margin-top: 5%;
    padding: 5%;
}
.mobile{
    display: flex;
    flex-direction: column;
}
.mobile h1{
    font-size: 30px;
}
.mobile a{
    text-decoration: none;
    color: white;
}
.mobile a:hover{
    text-decoration: none;
    color: rgb(240, 63, 63);
}